<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/css/login.css">
  <title>UX-COM</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <header class="row">
      <p class="center-align">Forma parte de la comunidad</p>
      <img class="center-align responsive-img col s12 m12 l12" src="/src/images/LogoPaleta/logouxcom.png" alt="Logo-UX-COM">
    </header>
  </div>
  <main class="row">
      <p class="center-align col s12 m12 l12">Regístrate con tu cuenta de:</p>
      <button class="center-align col s10 offset-s1">Google</button>
      <p class="center-align col s12 m12 l12">o <br> Ingresa tus datos manualmente</p>
      <p class="col s6 m6 l6">Tu nombre:</p>
      <input class="col s10 offset-s1 m9 l9"></input>
      <p class="col s6 m6 l6">Tu correo:</p>
      <input class="col s10 offset-s1 m9 l9"></input>
      <p class="col s6 m6 l6">Tu contraseña:</p>
      <input class="col s10 offset-s1 m9 l9"></input>
      <p class="col s6">Confirmo ser mujer mayor de 18 años</p>
      <div class="center-align col s12">
        <p>Si ya tienes cuenta 
            <button>inicia sesión</button>
        </p>
      </div>
      <button class="center-align col s10 offset-s1">Registrarme</button>
  </main>
</body>

</html>
