<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Perfil de usuaria </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/profile-style.css">
</head>

<body>
  <header class="container-fluid">

    <!--Inicio NavBar Mobile-->
    <div class="navbar-fixed hide-on-large-only">
      <nav class="navMobile">
        <div class="nav-wrapper">
          <a class="brand-logo center">
            <img class="logoNav" src="../images/Web/LOGO_UX-COMmini.png" alt="">
          </a>

          <span class="col m1 hide-on-large-only">
            <a data-target="slide-out" class="cazul sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
          </span>

        </div>
      </nav>
    </div>
    <!--Inicio NavBar Mobile-->


    <!--SideBar-->
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="../images/Web/fondoSideNav.jpg" alt="fondo-sidenav">
          </div>
          <a href="#user">
            <img class="circle" src="../images/Web/avatar.png" alt="foto-perfil">
          </a>
          <a href="#name">
            <span class="white-text name">María Gutierrez</span>
          </a>
          <a href="#email">
            <span class="white-text email">mariagutierrez@gmail.com</span>
          </a>
        </div>
      </li>
      <li>
        <a class="waves-effect" href="#!">
          <i class="material-icons">perm_identity</i>Perfil</a>
      </li>
      <li>
        <a class="waves-effect">
          <i class="material-icons">web_asset</i>Muro</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a class="waves-effect">
          <i class="material-icons">settings_power</i>Cerrar cesión</a>
      </li>
    </ul>
    <!--Fin SideBar-->

  </header>

  <main class="container-fluid">
    <!--Inicio Tarjeta de usuaria-->
    <div class="row tarjetaUsuaria ">
      <div class="col s4 offset-s4">
        <img class="circle responsive-img" src="../images/Web/avatar.png" alt="Foto-usuaria">
      </div>
      <div class="row ">
        <span class=" col s4 offset-s4">
          María Gutiérrez
        </span>
      </div>
      <div class="row ">
        <span class="col s6 offset-s3">
          mariagutierrez@gmail.com
        </span>
      </div>
    </div>
    <!--Fin Tarjeta de usuaria-->

    <!--Inicio Proyectos de usuaria-->

    <!--Inicio img y likes-->
    <div class="row">
      <div class="col s8 offset-s2">
        <img class="responsive-img" src="../images/Web/proyectoUsuaria4.png" alt="">
      </div>
      <div class="row">
        <span class="col s3 offset-s2">
          <i class="material-icons">favorite</i> 104</span>
      </div>
    </div>
    <!--Fin img y likes-->
 
    <!--Inicio img y likes-->
    <div class="row">
      <div class="col s8 offset-s2">
        <form>
        <textarea  id="mensajes" cols="30" rows="10"></textarea>
        <button   id="botonCompartir" class="col s4 offset-s8 btnCompartir">Compartir</button>
        <button  id="delete-comment" class="col s4 offset-s8 btnCompartir">Eliminar</button>
        <button  id="edit-comment" class="col s4 offset-s8 btnCompartir">Editar</button>
        
        
      <p>Soy un comentario sobre María</p>
      <div id="printComments"></div>
    </form>
    </div>
  </div>
    <!--Fin img y likes-->

    <!--Fin Proyectos de usuaria-->

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="../js/profile.js"></script>
  <script src="../js/credenciales.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>


