.font-text{
    font-family: 'Quicksand Bold', sans-serif;
}

.marg-top{
    margin-top: 4em;
    font-size: 1.1em;
}

.btng{
    background-color: #dd4b39;
    color: white;
    text-align: center;
    padding: .5em !important;
    border-radius: 10px;
    border: none;
}

.in-log{
    margin-left: 12% !important;
    border: 1px solid !important;
    border-radius: 8px !important;
}

.bbtn{
    border: none;
    background-color: white;
    color: blue;
    padding-bottom: 0.3em;
}

.btn-reg{
    background-color: #45a2e0;
    color: white;
    border: none;
    padding: .5em !important;
    border-radius: 10px;

}